<app-header></app-header>

    <div class="container">
        <h3>Edit Pokemon view</h3><br>  

          <form [formGroup]="editForm" (ngSubmit)="postForm(editForm)">
              <div class="form-group row">
                <div class="col">
                  <label for="exampleFormControlInput1">name</label>
                  <input [ngClass]="(inputClass('name'))" type="text" class="form-control" placeholder="pokemon name" formControlName="name">
                  
                </div>
                <div class="col">
                  <label for="exampleFormControlInput1">lvl</label>
                  <input [ngClass]="(inputClass('lvl'))" type="number" class="form-control" placeholder="pokemon lvl" formControlName="lvl">
                </div>
                <div class="col">
                  <label for="exampleFormControlInput1">type</label>
                  <input [ngClass]="(inputClass('type'))" type="text" class="form-control" placeholder="pokemon type" formControlName="type">
                </div>
              </div>
              <br><br>
              <button type="submit" class="btn btn-primary" [disabled]="editForm.invalid">update pokemon</button>
          </form>
    </div>
<app-footer></app-footer>


              <!--
              <div class="form-group">
                <label for="exampleFormControlInput1">abilities</label>
                <input type="text" class="form-control" placeholder="pokemon abilities" formControlName="abilities">
              </div>

|             <div
                    *ngIf="editForm.get('name')?.touched && editForm.get('name')?.errors?.['required']"
                    class="alert alert-danger"
                  >
                    *este campo es requerido
              </div>

              -->