<app-header></app-header>

    <div class="container">

        <h3>List of Pokemons of {{userName}}</h3><br>

        <button type="button" class="btn btn-primary" [routerLink]="['/newPokemon', newPokemonId]" >add Pokemon</button><br>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">lvl</th>
                <th scope="col">type</th>    
            </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pokemon of pokemons" >
                    <th scope="row">{{pokemon.id}}</th>
                    <td>{{pokemon.name}}</td>
                    <td>{{pokemon.lvl}}</td>
                    <td>{{pokemon.type}}</td>
                    <td><button type="button" class="btn btn-primary" [routerLink]="['/editPokemon', pokemon.id]" >edit </button></td>
                    <!--<td><button type="button" class="btn btn-danger" (click)="deletePokemon(pokemon)" >delete </button></td>-->
                </tr>
            </tbody>  
        </table>
    </div>

